/Kehstartir/.vs/Kehstartir/DesignTimeBuild/.dtbcache
/Kehstartir/.vs/Kehstartir/v16/Server/sqlite3/db.lock
/Kehstartir/.vs/Kehstartir/v16/Server/sqlite3/storage.ide
/Kehstartir/.vs/Kehstartir/v16/Server/sqlite3/storage.ide-shm
/Kehstartir/.vs/Kehstartir/v16/Server/sqlite3/storage.ide-wal
/Kehstartir/.vs/Kehstartir/v16/.suo
*.suo
