@model CourseProject.Domain.Contracts.ViewModels.ProfileViewModel



    <div class="row">
        <div class="col">
            111111111111111111111111111111111111
            11111111111111111111111111111111111111111111111111111
        </div>
        <div class="col">
            2111111111111111111111111111111111111
            11111111111111111111111111111111111111111111111111111
        </div>
    </div>
