@model IEnumerable<CourseProject.Domain.Contracts.ViewModels.ProjectViewModel>

<h4>My projects</h4>

@if (Model != null)
{
    @foreach (var project in Model)
    {
        <a asp-controller="Project" asp-action="CreateMenu" asp-route-id="@project.Id" id="cardDesk">
            <div class="card mb-3" id="cardHover">
                <div class="row no-gutters">
                    <div class="col-3">
                        <img src="@project.Image" class="card-img" alt="..." style="height: 100%; width: 100%;">
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">@project.Title</h5>
                            <p class="card-text">@project.Subtitle</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
}
