@model CourseProject.Domain.Contracts.ViewModels.ContentViewModel

@{
    ViewData["Title"] = "CreateContent";
}

<div id="headContent">
    <br />
    <h4>Introduce your project</h4>
    <br />
    <p>Tell people why they should be excited about your project. Get specific but be clear and be brief.</p>
</div>

<hr id="hara" />
<div class="row">
    <div class="col-sm-6">
        <div id="bodyContent">
            <h5>Project description</h5>
            <p>Describe what you're raising funds to do, why you care about it, how you plan to make it happen, and who you are. Your description should tell backers everything they need to know. If possible, include images to show them what your project is all about and what rewards look like.</p>
        </div>
    </div>
</div>

<form asp-action="CreateContent">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" hidden class="form-control" />
    <div class="form-group">
        <textarea asp-for="Content" id="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <input asp-for="ProjectId" hidden class="form-control" />
    <ul class="nav fixed-bottom border-top bg-white justify-content-end">
        <li class="nav-item">
            <button class="btn btn-success" id="btnNav" type="submit">Save</button>
        </li>
    </ul>
</form>

<form asp-action="PreViewImages" method="post" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-mode="replace"
      data-ajax-update="#update"
      data-ajax-loading="#spinner">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03">Upload</button>
        </div>
        <div class="custom-file">
            <input type="file" name="formFiles" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" multiple>
            <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
        </div>
    </div>
</form>

<div class="d-flex justify-content-center">
    <div style="display:none;width: 3rem; height: 3rem;" id="spinner" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="update"></div>
