#hara {
    /*margin-top: 50px;
    margin-bottom: 50px;
    width: ;*/
    margin: 50px -200px 50px;
    border: 0;
    border-top: 1px solid #c9c7c7;
}

#headContent {
    text-align: center;
}

#btnNav {
    width: 130px;
    height:40px;
    margin-right:50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#headMenu {
    margin-top: 70px;
    margin-bottom: 70px;
}

#headCreate {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

#menuHref {
    color: black;
}

#menuHref:visited {
    color: black;
}

#menuHref:hover {
    text-decoration: none;
}

#imgs {
    width: 100%;
}

#update {
    margin-bottom: 100px;
    margin-top: 50px;
}
